<html>
<title>Sharmaine</title>
<head></head>
<style>
    header {
        background-color: aqua;
        padding: 0.7%;
        margin: 0 0 0 0;
    }
    body {
            background-color: blanchedalmond;
            margin: 0 0 0 0;
    }
    th {
        padding-left: 100px;
        font-weight: bolder;
    }

</style>
<header>
    <table >
        <tr>
            <th>LOGO</th>
            <th>ORDER</th>
            <th>DISH</th>
            <th>TABLE RESERVATION</th>
            <th>ARCHIEVED ORDERS</th>
            <th>EXIT</th>

        </tr>
    </table>
</header>
    <body>
      <table style="margin: 15px 30px 30px 30px ; ">
          <tr><th style="padding: 7px 150px 7px 5px; background-color: blueviolet; font-size: 12px;">ORDER NUMBER :</th></tr>
          <tr><td  style="background-color: brown; padding: 2px 0 110px 5px; font-size: 10px;">ORDER DETAIL:</td></tr>
          <tr><td style="background-color: blue; padding: 2px 0 50px 5px; font-size: 10px;">NO</td></tr>
      </table>
    </body>
</html>

