<html>
<title>Sharmaine</title>
<head></head>
<style>
    header {
        background-color: aqua;
        padding: 0.7%;
        margin: 0 0 0 0;
    }
    body {
            background-color: blanchedalmond;
            margin: 0 0 0 0;
    }
    th {
        padding-left: 100px;
        font-weight: bolder;
    }
    td{
        background-color: wheat;
    }

</style>
<header>
    <table >
        <tr>
            <th>LOGO</th>
            <th>ORDER</th>
            <th>DISH</th>
            <th>TABLE RESERVATION</th>
            <th>ARCHIEVED ORDERS</th>
            <th>EXIT</th>

        </tr>
    </table>
</header>
    <body>
      <table style="margin: 15px 30px 30px 30px ; ">
          <tr><th style="padding: 7px 150px 7px 5px; background-color: blueviolet; font-size: 12px;">Table Reservation</th></tr>
          <tr><td style="padding: 2px 0 10 5px; font-size: 10px;">Name:</td></tr>
          <tr><td style="padding: 2px 0 10 5px; font-size: 10px;">Surname:</td></tr>
          <tr><td style="padding: 2px 0 10 5px; font-size: 10px;">Email:</td></tr>
          <tr><td style="padding: 2px 0 10 5px; font-size: 10px;">Phone number:</td></tr>
          <tr><td style="padding: 2px 0 10 5px; font-size: 10px;">Number of guests:</td></tr>
          <tr><td style="padding: 4px 0 2px 5px;"><button style="margin: 5px 30px 5px 40px;">Accept</button><button>Decline</button></td></tr>

      </table>
    </body>
</html>

